
body {
    background-color: #2b2b2b;
    color: #ffffff;
    font-family: Arial, sans-serif;
}


h1, h2, h3 {
    color: #d4af37;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}


.moje-menu {
    background-color: #111111 !important;
    border-bottom: 2px solid #d4af37;
}

.moje-menu a {
    color: #ffffff !important;
}

.moje-menu a:hover {
    color: #d4af37 !important;
}

.glowny-obrazek {
    width: 100%;
    border: 2px solid #d4af37;
    margin-bottom: 20px;
}


.moja-karta {
    background-color: #444444;
    border: 1px solid #d4af37;
    color: white;
}


.moja-tabela th {
    background-color: #d4af37;
    color: black;
}

.moja-tabela td {
    background-color: #444444;
    color: white;
    border-color: #2b2b2b;
}


.moj-przycisk {
    background-color: #d4af37;
    color: black;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
}

.moj-przycisk:hover {
    background-color: #ffffff;
}


.stopka {
    background-color: #111111;
    color: gray;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border-top: 1px solid #d4af37;
}

.moja-karta img {
    height: auto;         
    max-height: 300px;    
    width: 100%;
    object-fit: scale-down; /
}
.opis-strony {
    color: #ffffff; 
    font-size: 1.5rem;        
    text-align: center;       
    margin-bottom: 20px;      
}
